* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html, body {
  width: 100%;
  font-family: sans-serif;
}

h1 {
  font-size: 8rem;
  line-height: 0.5em;
}

h2 {
  font-size: 2rem;
}

header {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%auto;
  height:auto;
  width: 50%;
}

.img-wrapper {
  width: 45%;
}

.go {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.set {
  margin: 0 auto;
  text-align: center;
}

.next{
  font-size: 6rem;
  padding: 0.25em;
  background-color: black;
  color: white;
  border-radius: 1rem;
  text-decoration: none;
  border: 2px solid white;
  &:hover, &:active {
    background-color: white;
    color: black;
    border: 2px solid black;
  }
}

span {
  line-height: 2em;
  font-size: 1.2rem;
}

.ready {
  margin-top: 3rem;
  text-align: center;
}
